
body {
    margin: 0; 
    padding: 0; 
    background-color: #111111; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    height: 100vh; 
    font-family: Helvetica, Verdana, sans-serif; 
}


h1 {
    color: #cccccc; 
    margin-bottom: 10px; 
}


#gameCanvas {
    background-color: black; 
    border: 5px solid white; 
    box-sizing: border-box; 
}
